
body{
  text-align:center;
  background-color:#E3FDFD;
  margin:0px;
}
th{
  margin: 0px:
  height: 0px;
  width:40px;
  font-family: 'myFirstFont';
  font-size: 30px;
  text-align: left;
  padding-left: 25px;
}
td{
  margin:0;
  width:250px;
  padding: 0px 20px;
}
ul{
  margin:0px;
  text-align: left;
  padding-left: 5px;
}
p{
  text-align: justify;
}
.headersAnchor{
 color: black;
 text-decoration: none;
 letter-spacing: 0.3rem;
}
.footersAnchor{
  color:black;
  text-decoration: none;
}
.footersAnchor:hover{
  color: white;
}
.headersAnchor:hover{
  color: white;
}



@font-face {
  font-family: myFirstFont;
  src: url(./../tungsten-medium.otf);
}




.headers {
 font-family: myFirstFont;
 font-size: 30px;
 background-color: #71C9CE;
 padding: 1rem;
 margin:0px;
}
.logo{
 margin:0px;
 width:auto;
 padding:0px;
}
.table2{
  margin: 0px auto;
}
.copyrights{
  text-align: center;
  background-color: #71C9CE;
  font-family: 'myFirstFont';
  letter-spacing: 0.2rem;
  line-height: 0.9;
}
.class1{
  position: absolute ;
  bottom:0px;
  width:100%;
  margin:0px;
  background-color: #71C9CE;
  font-size: 18px;
}
